BACKEND_URL=http://localhost:8080
LLM_MODEL=gemini-2.5-flash
LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_API_KEY=your_llm_key

ANALYTICS_DB_HOST=localhost
ANALYTICS_DB_PORT=5433
ANALYTICS_DB_NAME=finance_analytics
ANALYTICS_DB_USER=admin
ANALYTICS_DB_PASSWORD=1234

VECTOR_DB_HOST=localhost
VECTOR_DB_PORT=5435
VECTOR_DB_NAME=finance_vector
VECTOR_DB_USER=admin
VECTOR_DB_PASSWORD=1234

LOG_DB_HOST=localhost
LOG_DB_PORT=5434
LOG_DB_NAME=finance_log
LOG_DB_USER=admin
LOG_DB_PASSWORD=1234
