PROFILE=onpremise

BACKEND_URL=http://service-backend:8080
TRANSACTION_URL=http://transaction-server:8083

LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
LLM_MODEL=gemini-2.5-flash
LLM_API_KEY=your_llm_key

ANALYTICS_DB_HOST=postgres-analytics
ANALYTICS_DB_PORT=5432
ANALYTICS_DB_NAME=finance_analytics
ANALYTICS_DB_USER=admin
ANALYTICS_DB_PASSWORD=1234

VECTOR_DB_HOST=postgres-vector
VECTOR_DB_PORT=5432
VECTOR_DB_NAME=finance_vector
VECTOR_DB_USER=admin
VECTOR_DB_PASSWORD=1234